<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Admin</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
    integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.css">
  <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
  <link rel="stylesheet" type="text/css" media="screen" href="css/dashboard/styles.css">
  <script src="https://www.gstatic.com/firebasejs/7.8.1/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.8.0/firebase-auth.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
  <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
  <script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>

  <script>
    const logout = async () => {
      await firebase.auth().signOut();
      await axios.get('/logout');
      window.location.href = window.location.origin;
    };

    firebase.initializeApp({
      apiKey: 'AIzaSyCizCQ2QIyUZ6ONcHwmyGmHPyB6jwQji2c',
      authDomain: 'trocaire-4gp2.firebaseapp.com',
      databaseURL: 'https://trocaire-4gp2.firebaseio.com',
      projectId: 'trocaire-4gp2',
      storageBucket: 'trocaire-4gp2.appspot.com',
      messagingSenderId: '772364666256',
      appId: '1:772364666256:web:87b0169305869cd4195f15',
    });
    firebase.auth().setPersistence(firebase.auth.Auth.Persistence.LOCAL);
    firebase.auth().onAuthStateChanged(user => {
      if (user) {
        document.getElementById('main-container').hidden = false;
      } else {
        logout();
      }
    });
  </script>
</head>

<body>
  <div class="main container-fluid" id="main-container" hidden>
    <img src="images/trocaire_logo.png" id="trocimg">
    <nav class="nav nav-tabs justify-content-end">
      <a class="nav-item nav-link active" role="tab" data-toggle="tab" href="#dashboard">Dashboard</a>
      <a class="nav-item nav-link" role="tab" data-toggle="tab" href="#patients">Patients</a>
      <a class="nav-item nav-link" role="tab" data-toggle="tab" href="#users">Users</a>
      <a class="nav-item nav-link" href="" id="logout">Logout</a>
      <!--<a class="nav-item nav-link" role="tab" data-toggle="tab" href="#alert">Alerts</a>-->
    </nav>
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="dashboard">
        <div class="container-fluid">
          <div class="row container-fluid">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar nav justify-content-end">
              <div class="sidebar-sticky">
                <ul class="nav flex-column">
                  <li class="nav-item">
                    <a class="nav-link active" role="tab" data-toggle="tab" href="#overview">
                      <span data-feather="eye"></span> Disease Overview </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" role="tab" data-toggle="tab" href="#breakdown">
                      <span data-feather="bar-chart"></span> Village Breakdown </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" role="tab" data-toggle="tab" href="#mapview">
                      <span data-feather="map"></span> Map View </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">
                      <span data-feather="bar-chart-2"></span> List View </a>
                  </li>
                </ul>
              </div>
            </nav>
            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
              <div class="tab-content">
                <div role="tabpanel" class="tab-pane active " id="overview">

                  <div
                    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                    <h1 class="h2">Disease Overview</h1>
                    <div class="btn-toolbar mb-2 mb-md-0">
                      <!-- <div class="btn-group mr-2">
                    <button class="btn btn-sm btn-outline-secondary">Share</button>
                    <button class="btn btn-sm btn-outline-secondary">Export</button>
                  </div> -->
                      <div class="dropdown" id="OverviewDiseaseDropdown">
                        <button class="btn btn-lg btn-outline-secondary dropdown-toggle" type="button"
                          id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">CHOLERA</button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          <a class="dropdown-item" href="#">CHOLERA</a>
                          <a class="dropdown-item" href="#">POLIO</a>
                          <a class="dropdown-item" href="#">MEASLES</a>
                          <a class="dropdown-item" href="#">MALARIA</a>
                          <a class="dropdown-item" href="#">ALL</a>
                        </div>
                      </div>
                      <div class="dropdown"  id="OverviewDateDropdown">
                        <button class="btn btn-lg btn-outline-secondary dropdown-toggle" type="button"
                          id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">THIS WEEK</button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          <a class="dropdown-item" href="#">THIS WEEK</a>
                          <a class="dropdown-item" href="#">THIS MONTH</a>
                          <a class="dropdown-item" href="#">THIS YEAR</a>
                          <a class="dropdown-item" href="#">ALL TIME</a>
                          <a class="dropdown-item" href="#">ALL</a>
                        </div>
                      </div>
                      <!-- <button class="btn btn-lg btn-outline-secondary dropdown-toggle">
                    <span data-feather="Droplet"></span>
                    CHOLERA
                  </button> -->
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-8">
                      <div class="card flex-md-row mb-4 box-shadow h-md-250">
                        <div class="card-body d-flex flex-column align-items-start">
                          <canvas class="my-4" id="chart2" width="300" height="200"></canvas>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div id="my_dataviz"></div>
              </div>
              <div role="tabpanel" class="tab-pane active " id="breakdown">
                <div
                  class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                  <h1 class="h2">Village Breakdown</h1>
                  <div class="btn-toolbar mb-2 mb-md-0">
                    <!-- <div class="btn-group mr-2">
                  <button class="btn btn-sm btn-outline-secondary">Share</button>
                  <button class="btn btn-sm btn-outline-secondary">Export</button>
                </div> -->
                    <div class="dropdown" id="BreakdownDateDropdown">
                      <button class="btn btn-lg btn-outline-secondary dropdown-toggle" type="button"
                        id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Village A</button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Village A</a>
                        <a class="dropdown-item" href="#">Village B</a>
                        <a class="dropdown-item" href="#">Village C</a>
                        <a class="dropdown-item" href="#">Village D</a>
                        <a class="dropdown-item" href="#">ALL</a>
                      </div>
                    </div>
                    <div class="dropdown" id="BreakdownDiseaseDropdown">
                      <button class="btn btn-lg btn-outline-secondary dropdown-toggle" type="button"
                        id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">CHOLERA</button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">CHOLERA</a>
                        <a class="dropdown-item" href="#">POLIO</a>
                        <a class="dropdown-item" href="#">MEASLES</a>
                        <a class="dropdown-item" href="#">MALARIA</a>
                        <a class="dropdown-item" href="#">ALL</a>
                      </div>
                    </div>
                    <div class="dropdown" id="BreakdownDateDropdown">
                      <button class="btn btn-lg btn-outline-secondary dropdown-toggle" type="button"
                        id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> THIS WEEK
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">THIS MONTH</a>
                        <a class="dropdown-item" href="#">THIS YEAR</a>
                        <a class="dropdown-item" href="#">ALL TIME</a>
                      </div>
                    </div>
                    <!-- <button class="btn btn-lg btn-outline-secondary dropdown-toggle">
                  <span data-feather="Droplet"></span>
                  CHOLERA
                </button> -->
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="card flex-md-row mb-4 box-shadow h-md-250">
                      <div class="card-body d-flex flex-column align-items-start">
                        <canvas class="my-4" id="chart1" width="300" height="200"></canvas>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="card flex-md-row mb-4 box-shadow h-md-250">
                      <div class="card-body d-flex flex-column align-items-start">
                        <canvas class="my-4" id="chart3" width="300" height="200"></canvas>
                      </div>
                    </div>
                  </div>
                </div>
                <div id="my_dataviz"></div>
            </div>
                <div role="tabpanel" class="tab-pane " id="Mapview">
                  <div
                    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                    <h1 class="h2">Map View</h1>
                    <div class="btn-toolbar mb-2 mb-md-0">
                      <!-- <div class="btn-group mr-2">
                    <button class="btn btn-sm btn-outline-secondary">Share</button>
                    <button class="btn btn-sm btn-outline-secondary">Export</button>
                  </div> -->
                  <div class="dropdown" id="MapDiseaseDropdown">
                    <button class="btn btn-lg btn-outline-secondary dropdown-toggle" type="button"
                      id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">CHOLERA</button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item" href="#">CHOLERA</a>
                      <a class="dropdown-item" href="#">POLIO</a>
                      <a class="dropdown-item" href="#">MEASLES</a>
                      <a class="dropdown-item" href="#">MALARIA</a>
                      <a class="dropdown-item" href="#">ALL</a>
                    </div>
                  </div>
                  <div class="dropdown"  id="MapDateDropdown">
                    <button class="btn btn-lg btn-outline-secondary dropdown-toggle" type="button"
                      id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">THIS WEEK</button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item" href="#">THIS WEEK</a>
                      <a class="dropdown-item" href="#">THIS MONTH</a>
                      <a class="dropdown-item" href="#">THIS YEAR</a>
                      <a class="dropdown-item" href="#">ALL TIME</a>
                    </div>
                  </div>
                      <!-- <button class="btn btn-lg btn-outline-secondary dropdown-toggle">
                    <span data-feather="Droplet"></span>
                    CHOLERA
                  </button> -->
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">


                          <div class="my-4" id="map"></div>


                    </div>
                  </div>
                </div>
            </main>
          </div>

          </div>
        </div>



      <div role="tabpanel" class="tab-pane" id="patients">
        <div class="row bg-light">
          <div class="col-3 bg-dark">
            <form>
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Last Name" id="lName">
              </div>
              <div class="form-group">
                <input type="text" class="form-control" placeholder="First Name" id="fName">
              </div>
              <div class="form-row">
                <div class="col">
                  <input type="number" class="form-control" min="1" max="31" placeholder="Day" id="day">
                </div>
                <div class="col">
                  <input type="number" class="form-control" min="1" max="12" placeholder="Month" id="month">
                </div>
                <div class="col">
                  <input type="number" class="form-control" placeholder="Year" id="year">
                </div>
              </div>
              <center><button type="submit" class="btn btn-primary" id="searchB">Search</button></center>
            </form>
            <div class="card" id="plist-container" hidden>
              <div class="card-body bg-light" id="plist">
              </div>
            </div>
          </div>
          <div class="col card">
            <div class="card-body bg-light" id="pdetails">
              <center><img src="images/search_icon.png" id="srchimg"></center>
            </div>
          </div>
        </div>
      </div>
      <div role="tabpanel" class="tab-pane" id="users">
        <div class="pt-3">
          <button type="button" class="btn btn-dark" id="create-admin">Create new admin account</button>
          <button type="button" class="btn btn-primary" id="create-worker">Create new health worker account</button>
        </div>
        <hr>
        <div id="user-details" hidden>
          <div class="pt-3">
            <h3>New account created</h3>
            <br>
            <strong>Type:</strong>
            <p id="acc-type"></p>
            <strong>User ID:</strong>
            <pre id="acc-uid"></pre>
            <strong>Password:</strong>
            <pre id="acc-password"></pre>
          </div>
          <hr>
          <div id="password-alert-area">
            <div class="alert alert-danger" id="password-alert" role="alert">Please store the password safely as this
              information will never be displayed again.<br>Click the button below to acknowledge.</div>
            <button type="button" class="btn btn-success" id="password-ack">Done</button>
          </div>
        </div>
      </div>
      <!--<div role="tabpanel" class="tab-pane" id="alert"></div>-->
    </div>
  </div>
  <template>
    <h5 id="noPatientFound">No patients found</h5>
    <a href="#" id="pNameFound"></a>
    <div class="form-group row pContentRow">
      <label class="col-2"></label>
      <div class="col-sm-10">
        <input type="text" readonly class="form-control-plaintext">
        <!--id="staticEmail" value="email@example.com"-->
      </div>
    </div>
  </template>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
  <script src="js/dashboard/main.js"></script>
  <script>feather.replace();</script>
</body>

</html>
