<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
    integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
  <!-- custom stylesheet -->
  <link rel="stylesheet" type="text/css" media="screen" href="css/dashboard/styles.css">
  <title>Admin</title>
</head>

<body>
  <div class="main container-fluid">
    <a href="#" data-toggle="tooltip" title="Sign Out">
      <i class="fa fa-sign-out-alt fa-align-left" id="logout"></i>
    </a>
    <img src="images/trocaire_logo.png" id="trocimg">
    <nav class="nav nav-tabs justify-content-end">
      <a class="nav-item nav-link" role="tab" data-toggle="tab" href="#dashboard">Dashboard</a>
      <a class="nav-item nav-link active" role="tab" data-toggle="tab" href="#patients">Patients</a>
      <!--<a class="nav-item nav-link" role="tab" data-toggle="tab" href="#alert">Alerts</a>-->
    </nav>
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane" id="dashboard">
        <!--
          The content of the <body> tag of the dashboard to be placed here
        -->
      </div>
      <div role="tabpanel" class="tab-pane active" id="patients">
        <div class="row bg-light">
          <div class="col-3 bg-dark">
            <form>
              <div class="form-group">
                <input type="text" class="form-control form-control-lg" placeholder="First Name" id="fName">
              </div>
              <div class="form-group">
                <input type="text" class="form-control form-control-lg" placeholder="Last Name" id="lName">
              </div>
              <div class="form-row">
                <div class="col">
                  <input type="number" class="form-control form-control-lg" min="1" max="31" placeholder="Day" id="day">
                </div>
                <div class="col">
                  <input type="number" class="form-control form-control-lg" min="1" max="12" placeholder="Month" id="month">
                </div>
                <div class="col">
                  <input type="number" class="form-control form-control-lg" placeholder="Year" id="year">
                </div>
              </div>
              <center><button type="submit" class="btn btn-primary btn-lg" id="searchB">Search</button></center>
            </form>
            <div class="card">
              <div class="card-body bg-light" id="plist">
              </div>
            </div>
          </div>
          <div class="col card">
            <div class="card-body bg-light" id="pdetails">
              <center><img src="images/search_icon.png" id="srchimg"></center>
            </div>
          </div>
        </div>
      </div>
      <!--<div role="tabpanel" class="tab-pane" id="alert"></div>-->
    </div>
  </div>

  <template>
    <h3 id="noPatientFound">No Patients Found...</h3>
    <a href="#" class="pNameFound"></a>
    <div class="form-group row pContentRow">
      <label class="col-2"></label>
      <div class="col-sm-10">
        <input type="text" readonly class="form-control-plaintext"> <!--id="staticEmail" value="email@example.com"-->
      </div>
    </div>
  </template>

  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
  <script src="https://www.gstatic.com/firebasejs/7.8.1/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.8.0/firebase-auth.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="js/dashboard/main.js"></script>
</body>

</html>
