<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
    integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
  <!-- custom stylesheet -->
  <link rel="stylesheet" type="text/css" media="screen" href="css/dashboard/styles.css">
  <title>Admin</title>
  <script src="https://www.gstatic.com/firebasejs/7.8.1/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.8.0/firebase-auth.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script>
    const logout = async () => {
      await firebase.auth().signOut();
      await axios.get('/logout');
      window.location.href = window.location.origin;
    };

    firebase.initializeApp({
      apiKey: 'AIzaSyCizCQ2QIyUZ6ONcHwmyGmHPyB6jwQji2c',
      authDomain: 'trocaire-4gp2.firebaseapp.com',
      databaseURL: 'https://trocaire-4gp2.firebaseio.com',
      projectId: 'trocaire-4gp2',
      storageBucket: 'trocaire-4gp2.appspot.com',
      messagingSenderId: '772364666256',
      appId: '1:772364666256:web:87b0169305869cd4195f15',
    });
    firebase.auth().setPersistence(firebase.auth.Auth.Persistence.LOCAL);
    firebase.auth().onAuthStateChanged(user => {
      if (user) {
        document.getElementById('main-container').hidden = false;
      } else {
        logout();
      }
    });
  </script>
</head>

<body>
  <div class="main container-fluid" id="main-container" hidden>
    <img src="images/trocaire_logo.png" id="trocimg">
    <nav class="nav nav-tabs justify-content-end">
      <a class="nav-item nav-link active" role="tab" data-toggle="tab" href="#dashboard">Dashboard</a>
      <a class="nav-item nav-link" role="tab" data-toggle="tab" href="#patients">Patients</a>
      <a class="nav-item nav-link" href="" id="logout">Logout</a>
      <!--<a class="nav-item nav-link" role="tab" data-toggle="tab" href="#alert">Alerts</a>-->
    </nav>
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane" id="dashboard">
        <!--
          The content of the <body> tag of the dashboard to be placed here
        -->
      </div>
      <div role="tabpanel" class="tab-pane active" id="patients">
        <div class="row bg-light">
          <div class="col-3 bg-dark">
            <form>
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Last Name" id="lName">
              </div>
              <div class="form-group">
                <input type="text" class="form-control" placeholder="First Name" id="fName">
              </div>
              <div class="form-row">
                <div class="col">
                  <input type="number" class="form-control" min="1" max="31" placeholder="Day" id="day">
                </div>
                <div class="col">
                  <input type="number" class="form-control" min="1" max="12" placeholder="Month" id="month">
                </div>
                <div class="col">
                  <input type="number" class="form-control" placeholder="Year" id="year">
                </div>
              </div>
              <center><button type="submit" class="btn btn-primary" id="searchB">Search</button></center>
            </form>
            <div class="card" id="plist-container" hidden>
              <div class="card-body bg-light" id="plist">
              </div>
            </div>
          </div>
          <div class="col card">
            <div class="card-body bg-light" id="pdetails">
              <center><img src="images/search_icon.png" id="srchimg"></center>
            </div>
          </div>
        </div>
      </div>
      <!--<div role="tabpanel" class="tab-pane" id="alert"></div>-->
    </div>
  </div>
  <template>
    <h5 id="noPatientFound">No patients found</h5>
    <a href="#" id="pNameFound"></a>
    <div class="form-group row pContentRow">
      <label class="col-2"></label>
      <div class="col-sm-10">
        <input type="text" readonly class="form-control-plaintext">
        <!--id="staticEmail" value="email@example.com"-->
      </div>
    </div>
  </template>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
  <script src="js/dashboard/main.js"></script>
</body>

</html>
