<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Admin Sign-in</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="css/login/main.css" />
  <script src="https://www.gstatic.com/firebasejs/7.8.1/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.8.0/firebase-auth.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<body class="text-center">
  <form class="form-signin">
    <img class="mb-4" src="images/trocaire_square.png" alt="" width="300">
    <div class="shadow p-3 mb-5 bg-white rounded">
      <h1 class="h3 mb-3 font-weight-normal">Dashboard Signin</h1>
      <p class="mt-5 mb-3 text-muted"></p>
      <label for="inputID" class="sr-only">User ID</label>
      <input type="text" id="inputID" class="form-control" placeholder="User ID" required autofocus>
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
      <p class="mt-5 mb-3 text-muted"></p>
      <button class="btn btn-lg btn-primary btn-block" id="signin-button" type="button">Sign in</button>
    </div>
  </form>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>
<script>
  firebase.initializeApp({
    apiKey: 'AIzaSyCizCQ2QIyUZ6ONcHwmyGmHPyB6jwQji2c',
    authDomain: 'trocaire-4gp2.firebaseapp.com',
    databaseURL: 'https://trocaire-4gp2.firebaseio.com',
    projectId: 'trocaire-4gp2',
    storageBucket: 'trocaire-4gp2.appspot.com',
    messagingSenderId: '772364666256',
    appId: '1:772364666256:web:87b0169305869cd4195f15',
  });
  firebase.auth().setPersistence(firebase.auth.Auth.Persistence.SESSION);

  const loginButton = document.getElementById('signin-button');
  loginButton.addEventListener('click', e => {
    const id = document.getElementById('inputID').value;
    const pass = document.getElementById('inputPassword').value;
    if (!id || !pass) {
      return;
    }

    loginButton.textContent = 'Signing in...';
    firebase
      .auth()
      .signInWithEmailAndPassword(`${id}@{{emailExtension}}`, pass)
      .catch(error => {
        console.log(error);
        loginButton.textContent = 'Failed to sign in';
      });
  });

  firebase.auth().onAuthStateChanged(async user => {
    if (user) {
      const token = await user.getIdToken();
      await axios.post('/api/session', { token });
      window.location.href = window.location.origin;
    }
  });
</script>

</html>
