html {
  overflow-y: hidden;
}

#trocimg {
  width: 240px;
  margin-top: 1.5em;
  padding-left: 15px;
  position: absolute;
}

#srchimg {
  width: 15vh;
  height: 15vh;
  position: absolute;
  top: 50%;
  margin-top: -125px;
}

a {
  font-size: 20px;
}

nav {
  padding-top: 4em;
}

form {
  padding-top: 20px;
  padding-bottom: 20px;
}

input {
  margin-bottom: 20px;
}

.row {
  min-height: 100vh;
}

.col-3 {
  padding-inline: 25px;
}

.card {
  padding-right: 0%;
}

.card-body {
  overflow-y: scroll;
}

#plist {
  height: 40vh;
}

#pdetails {
  height: 0vh;
}

#searchB {
  width: 200px;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: inherit;
}

#password-alert {
  width: 700px;
}
