html {
  overflow-y: hidden;
}

.fa-sign-out-alt {
  position: absolute;
  left: 95%;
  padding: 0.1em;
  color: white;
  background-color: black;
}

#trocimg {
  height: 100px;
  width: 270px;
  margin-top: 1.8em;
  padding-left: 15px;
  position: absolute;
}

#srchimg {
  width: 15vh;
  height: 15vh;
  position: absolute;
  top: 50%;
  margin-top: -125px;
}

a {
  font-size: 30px;
}

nav {
  padding-top: 6em;
}

form {
  padding-top: 30px;
  padding-bottom: 30px;
}

input {
  margin-bottom: 30px;
}

.row {
  min-height: 100vh;
}

.col-3 {
  padding-inline: 25px;
}

.card {
  padding-right: 0%;
}

.card-body {
  overflow-y: scroll;
}

#plist {
  height: 40vh;
}

#pdetails {
  height: 0vh;
}
