html {
  overflow-y: hidden;
}

#trocimg {
  width: 240px;
  margin-top: 1.5em;
  padding-left: 15px;
  position: absolute;
}

#warning_box {
  position: absolute;
  margin-left: 30%;
  margin-top: 1em;
  width: 40%;
  padding: 20px;
  border: 2px solid rgb(47, 46, 46);
}

#srchimg {
  width: 15vh;
  height: 15vh;
  position: absolute;
  top: 50%;
  margin-top: -125px;
}

#map {
  position: relative;
  border: 1px solid black;
  border-radius: 8px;
  height: 600px;
  width: 100%;
}

a {
  font-size: 20px;
}

nav {
  padding-top: 7.5em;
}

form {
  padding-top: 20px;
  padding-bottom: 20px;
}

input {
  margin-bottom: 20px;
}

.row {
  min-height: 100vh;
}

.col-3 {
  padding-inline: 25px;
}

.card {
  padding-right: 0%;
}

.card-body {
  overflow-y: scroll;
}

#plist {
  height: 40vh;
}

#pdetails {
  height: 0vh;
}

#searchB {
  width: 200px;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: inherit;
}

#password-alert {
  width: 700px;
}

#map {
  height: 68vh;
}
